.aboutContainer {
    color: #FFFCE8;
    width: 100vw;
    max-width: 100%;
    height: 100%;
    min-height: 100%;
}
.title {
    font-size: 4em;
}

.infoBox {
    color: #FFFCE8;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 2rem;
    height: 100%;
    gap: 1rem;
    padding-bottom: 4rem;
    flex-shrink: 1;
    /*border: 3px solid white;*/
}

.logos {
    display: grid;
    grid-template-columns: repeat(2, 10rem); /* Two columns */
    grid-template-rows: repeat(2, 10rem); /* Two rows */
    width: auto;
    height: 100%;
    gap: 0.5rem;
}

.icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


p.aboutPara{
    color: #361F1C;
    font-size: 1.5em;
    width: auto;
    height: auto;
    margin: auto;
    margin-top: 1rem;
    font-size: 2em;
    background-color: #B5DEAD;
    border-color: #361F1C;
    border: solid 0.25rem;
    border-radius: 0.5em;
    padding: 2rem;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -ms-border-radius: 0.5em;
    -o-border-radius: 0.5em;
}

@media (max-width: 1100px) {
    .infoBox {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: transparent;
    }

    p.aboutPara{
        height: 50%;
        font-size: 1.5em;
    }

    .logos {
        grid-template-columns: repeat(2, 5rem); /* Two columns */
        grid-template-rows: repeat(2, 5rem); /* Two rows */
    }
}