@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.App {
  width: 100dvw;
  max-width: 100%;
  height: 300vh;
}
.hiContainer {
  font-family: "Inter";
  color: #361F1C;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  height: 100dvh;
  max-height: 100dvh;
  gap: 4rem;
}

.intro {
  background-color: #B5DEAD;
  border-color: #361F1C;
  border: solid 0.25rem;
  border-radius: 0.5em;
  padding: 2rem;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
}

@media (max-width: 1100px) {

  .hiContainer {
    flex-direction: column; /* Stack elements */
    justify-content: center;
    align-items: center;
    gap: 1rem; /* Reduce spacing */
    margin-top: 0;
    margin-bottom: 0;
    flex-wrap: wrap;
  }

  .intro {
    z-index: 5; /* Ensures text is above image */
    width: 80%;
    font-size: 0.5em;
    padding: 1rem;
    background-color: #2B2118; /* Optional: Semi-transparent background */
  }

  .peace {
    font-size: 0.5em;
    padding: 1rem;
  }
}