.hiContainer {
  font-family: "NPS";
  color: #FFFCE8;
  font-size: 4em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 70vw;
  max-width: 75%;
  gap: 6rem;
  padding-bottom: 3rem;
}

.arenImg {
  display: block;
}

@media (max-width: 1100px) {
  .hiContainer {
    flex-direction: column; /* Stack elements */
    width: 100%;
    gap: 0; /* Reduce spacing */
  }

  .hiContainer div {
    position: absolute; /* Allows elements to overlap */
    z-index: 2; /* Ensures text is above image */
    width: 100vw;
    font-size: clamp(1.5rem, 4vw, 3em);
    text-align: center;
    padding: 1rem;
    border-radius: 10px;
    background-color: #2B2118; /* Optional: Semi-transparent background */
  }

  .peace {
    visibility: hidden;
  }
}